<?xml version="1.0"?>
<robot name="ninjacar" xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- <material name="aluminum">
	  <color rgba="0.5 0.5 0.5 1"/>
    </material> -->

  <!-- <link name="imu_link"/>
  <link name="body_aligned_imu_link"/>

  <joint name="aligned_imu" type="fixed">
  <parent link="body_aligned_imu_link" />
    <child link="imu_link" />
    <origin xyz="0 0 0" rpy="0 0 -1.570796325" />
  </joint> -->

  <link name="base_link"/>
  <link name="royale_camera_link"/>

  <!-- <joint name="cpu_imu" type="fixed">
    <parent link="body_aligned_imu_link" />
    <child link="cpu" />
    <origin xyz="-0.1154054 0 0.0077934 " rpy="0 0 0" />
  </joint> -->

  <xacro:include filename="$(find realsense2_description)/urdf/_d435.urdf.xacro"/>

  <sensor_d435 parent="base_link" name="rs_camera">
    <origin xyz="0.2219971 0 0.0130257" rpy="0 0 0" />
  </sensor_d435>

  <joint name="royale_cam_joint" type="fixed">
    <parent link="base_link" />
    <child link="royale_camera_link" />
    <origin xyz="0.2219971 0 0.0130257" rpy="0 0 0" />
  </joint>

</robot>
