<launch>

  <include file="$(find carplanner_msgs)/launch/sensors.launch"/>

  <include file="$(find cartographer_ros)/launch/3d_localization.launch">
    <arg name="pointcloud_topic" value="os1_cloud_node/points"/>
    <arg name="imu_topic" value="imu_raw"/>
    <arg name="enable_occ_map" value="true"/>
    <arg name="occ_map_resolution" value="0.05"/>
  </include>

</launch>
