<launch>

  <arg name="map_frame" default="map"/>
  <arg name="base_link_frame" default="base_link"/>
  <arg name="vehicle_name" default="N02"/>

  <arg name="launch_rviz" default="true"/>

  <arg name="enable_debug"    default="false"/>
  <arg name="enable_valgrind" default="false"/>
  <arg name="launch_prefix"   default="gdb -ex run --args" if="$(eval arg('enable_debug') and not arg('enable_valgrind') and arg('launch_manager'))"/>
  <arg name="launch_prefix"   default="valgrind "          if="$(eval arg('enable_valgrind') and not arg('enable_debug') and arg('launch_manager'))"/>
  <arg name="launch_prefix"   default=""                   if="$(eval not arg('enable_debug') and not arg('enable_valgrind'))"/>

  <!-- <node pkg="CarPlanner" type="run_mochagui.sh" name="mochagui" output="screen"/> -->

  <include file="$(find carplanner_msgs)/launch/vicon.launch">
    <arg name="launch_rviz"  value="false"/>
    <arg name="vehicle_name" value="$(arg vehicle_name)"/>
    <arg name="fixed_frame" value="$(arg map_frame)"/>
  </include>

  <include file="$(find drive_control)/launch/remote_control.launch">
  </include>

  <node pkg="rviz" type="rviz" name="mocha_rviz" args="-d $(find mochapc)/rviz/vicon.rviz" if="$(arg launch_rviz)"/>

  <!-- <node pkg="rostopic" type="rostopic" name="default_waypoints_publisher" args="pub /planner/input_waypoints carplanner_msgs/OdometryArray latch file=$(find mochapc)/launch/default_waypoints.odometry_array" output="screen" if="$(arg publish_default_waypoints)"/> -->
  <!-- <node pkg="rostopic" type="rostopic" name="default_initial_pose_publisher" args="pub /vehicle/initial_pose geometry_msgs/PoseWithCovarianceStamped latch file=$(find mochapc)/launch/default_initial_pose.pose_with_covariance_stamped"  output="screen" if="$(arg publish_default_waypoints)"/> -->
  <!-- <node pkg="rostopic" type="rostopic" name="default_goal_publisher" args="pub /planner/goal geometry_msgs/PoseStamped latch file=$(find mochapc)/launch/default_goal.pose_stamped"  output="screen" if="$(arg publish_default_waypoints)"/> -->

  <!-- <node pkg="topic_tools" type="relay" name="local_goal_relay3" args="/goal planner/goal"/> -->
  <!-- <node pkg="topic_tools" type="relay" name="local_goal_relay2" args="/move_base_simple/goal planner/goal"/> -->
  <!-- <node pkg="topic_tools" type="relay" name="local_goal_relay" args="/rviz/nav_goal_2d planner/goal"/> -->
  <!-- <node pkg="topic_tools" type="relay" name="global_path_relay" args="/H01/ma_goal_path planner/global_path"/> -->
  <!-- <node pkg="topic_tools" type="relay" name="local_path_relay" args="planner/actual_traj /X1/local_path"/> -->
  <!-- <node pkg="topic_tools" type="relay" name="local_pose_relay" args="/initialpose vehicle/initial_pose"/> -->

</launch>
