<launch>

  <!-- INFINITAM -->
  <arg name="launch_infinitam" default="true"/>
  <arg name="convert_metric" default="false"/>
  <arg name="publish_vertices" default="false"/>
  <arg name="world_frame_id" default="map"/>
  <arg name="camera_frame_id" default="camera_optical"/>
  <arg name="mesh_topic" default="mesh"/>
  <arg name="depth_info_topic" default="depth/camera_info"/>
  <arg name="depth_topic" default="depth"/>
  <arg name="rgb_info_topic" default="color/camera_info"/>
  <arg name="rgb_topic" default="color"/>
  <arg name="enable_priori_from_tf_tree" default="true"/>

  <!-- MOCHA -->
  <arg name="params_file" default="$(find mochapc)/learning_params.csv"/>
  <arg name="terrain_mesh_file" default="$(find mochapc)/mochagui/labLoop.ply"/>
  <arg name="car_mesh_file" default="$(find mochapc)/herbie/herbie.blend"/>
  <arg name="wheel_mesh_file" default="$(find mochapc)/herbie/wheel.blend"/>
  <!-- <arg name="params_file" default="/home/marble/mikem_local_planning_ws/src/mochapc/learning_params.csv"/>
  <arg name="terrain_mesh_file" default="/home/marble/mikem_local_planning_ws/src/mochapc/labLoop.ply"/>
  <arg name="car_mesh_file" default="/home/marble/mikem_local_planning_ws/src/mochapc/herbie/herbie.blend"/>
  <arg name="wheel_mesh_file" default="/home/marble/mikem_local_planning_ws/src/mochapc/herbie/wheel.blend"/> -->

  <arg name="map_frame" default="map"/>
  <arg name="base_link_frame" default="base_link"/>

  <arg name="launch_delay" default="0"/>

  <arg name="enable_debug" default="false"/>
  <arg name="launch_manager"     default="true"/>
  <arg name="manager"     default="mocha_planner"/>

  <arg name="launch_prefix" default="gdb -ex run --args" if="$(eval arg('enable_debug') and arg('launch_manager'))"/>
  <arg name="launch_prefix" default="" unless="$(eval arg('enable_debug') and arg('launch_manager'))"/>

  <node pkg="nodelet" type="nodelet" name="$(arg manager)" output="screen" respawn="true" launch-prefix="$(arg launch_prefix)"
    args="manager" if="$(arg launch_manager)"/>

  <include file="$(find carplanner_msgs)/launch/mocha.launch">
    <arg name="launch_delay"        value="$(eval launch_delay+0)"/>
    <arg name="enable_debug"        value="$(arg enable_debug)"/>
    <arg name="launch_manager"      value="false"/>
    <arg name="manager"             value="$(arg manager)"/>
    <arg name="params_file"         value="$(arg params_file)"/>
    <arg name="mode"                value="0"/>
    <arg name="terrain_mesh_file"   value="$(arg terrain_mesh_file)"/>
    <arg name="car_mesh_file"       value="$(arg car_mesh_file)"/>
    <arg name="wheel_mesh_file"     value="$(arg wheel_mesh_file)"/>
    <arg name="map_frame"           value="$(arg map_frame)"/>
    <arg name="base_link_frame"     value="$(arg base_link_frame)"/>
  </include>
  <!-- <include file="$(find timed_roslaunch)/timed_roslaunch.launch">
    <arg name="time"   value="5"/>
    <arg name="pkg"    value="carplanner_msgs"/>
    <arg name="file"   value="mocha.launch"/>
    <arg name="value"  value="manager:=$(arg manager)
      params_file:=$(arg params_file)
      mode:=0
      terrain_mesh_file:=$(arg terrain_mesh_file)
      car_mesh_file:=$(arg car_mesh_file)
      wheel_mesh_file:=$(arg wheel_mesh_file)
      map_frame:=$(arg map_frame)
      base_link_frame:=$(arg base_link_frame)
      enable_debug:=$(arg enable_debug)"/>
    <arg name="node_name" value="timed_mochaplanner"/>
  </include> -->

  <include file="$(find infinitam)/launch/demo.launch" if="$(arg launch_infinitam)">
    <arg name="launch_delay"        value="$(eval launch_delay+5)"/>
    <arg name="enable_debug"        value="$(arg enable_debug)"/>
    <arg name="convert_metric"      value="$(arg convert_metric)"/>
    <arg name="publish_vertices"    value="$(arg publish_vertices)"/>
    <arg name="world_frame_id"      value="$(arg world_frame_id)"/>
    <arg name="camera_frame_id"     value="$(arg camera_frame_id)"/>
    <arg name="mesh_topic"          value="$(arg mesh_topic)"/>
    <arg name="depth_info_topic"    value="$(arg depth_info_topic)"/>
    <arg name="depth_topic"         value="$(arg depth_topic)"/>
    <arg name="rgb_info_topic"      value="$(arg rgb_info_topic)"/>
    <arg name="rgb_topic"           value="$(arg rgb_topic)"/>
    <arg name="enable_priori_from_tf_tree" value="$(arg enable_priori_from_tf_tree)"/>
  </include>

  <!-- <node pkg="carplanner_msgs" type="waypoint_generator" name="waypoint_generator" output="screen">
    <param name="goal_topic" value="/move_base_simple/goal"/>
    <param name="waypoints_topic" value="/plan_car/input_waypoints"/>
    <param name="map_frame_id" value="map"/>
    <param name="base_frame_id" value="base_link"/>
  </node>

  <node pkg="carplanner_msgs" type="goal_generator" name="goal_generator" output="screen">
    <param name="path_topic" value="/plan_car/global_path"/>
    <param name="goal_topic" value="/move_base_simple/goal"/>
    <param name="path_intercept_length" value="2.0"/>
  </node>

  <include file="$(find marble_guidance)/launch/guidance.launch">
    <arg name="vehicle_type" type="string" default="ground" />
    <arg name="fixed_frame" type="string"  default="map" />
    <arg name="speed"                      default="1.0" />
    <arg name="Tstar"                      default="1.0" />
    <arg name="reverse"                    default="false" />
    <arg name="odometry_topic"             default="odometry" />
    <arg name="path_topic"                 default="plan_car/actual_traj"/>
    <arg name="goal_pose_topic"            default="goal"/>
    <arg name="cmd_vel_topic"              default="cmd_vel"/>
    <arg name="lookahead_point_topic"      default="lookahead_point"/>
    <arg name="lookahead_vec_topic"        default="lookahead_vec"/>
    <arg name="world_frame_id"      value="$(arg world_frame_id)"/>
    <arg name="map_frame_id"        value="$(arg map_frame_id)"/>
    <arg name="camera_frame_id"     value="$(arg camera_frame_id)"/>
    <arg name="map_lookup_timeout"  value="$(arg map_lookup_timeout)"/>
    <arg name="mesh_topic"          value="$(arg mesh_topic)"/>
    <arg name="depth_info_topic"    value="$(arg depth_info_topic)"/>
    <arg name="depth_topic"         value="$(arg depth_topic)"        unless="$(arg convert_metric)"/>
    <arg name="depth_topic"         value="$(arg depth_topic)_metric" if="$(arg convert_metric)"/>
    <arg name="rgb_info_topic"      value="$(arg rgb_info_topic)"/>
    <arg name="rgb_topic"           value="$(arg rgb_topic)"/>
  </include> -->

</launch>
