<launch>

  <!-- INFINITAM -->
  <arg name="launch_infinitam" default="false"/>
  <arg name="convert_metric" default="false"/>
  <arg name="publish_vertices" default="false"/>
  <arg name="world_frame_id" default="map"/>
  <arg name="camera_frame_id" default="camera_optical"/>
  <arg name="mesh_topic" default="mesh"/>
  <arg name="depth_info_topic" default="depth/camera_info"/>
  <arg name="depth_topic" default="depth"/>
  <arg name="rgb_info_topic" default="color/camera_info"/>
  <arg name="rgb_topic" default="color"/>
  <arg name="enable_guess_from_tf_tree" default="true"/>
  <arg name="publish_default_waypoints" default="true"/>
  <arg name="enable_terrain_planning" default="true"/>

  <!-- MOCHA -->
  <arg name="params_file" default="$(find mochapc)/learning_params.csv"/>
  <!-- <arg name="params_file" default="$(find mochapc)/working_params.csv"/> -->
  <!-- <arg name="params_file" default="$(find mochapc)/ninjacar_params.csv"/> -->
  <arg name="terrain_mesh_file" default="$(find mochapc)/labLoop.ply"/>
  <arg name="car_mesh_file" default="$(find mochapc)/herbie/herbie.blend"/>
  <arg name="wheel_mesh_file" default="$(find mochapc)/herbie/wheel.blend"/>

  <arg name="map_frame" default="map"/>
  <arg name="base_link_frame" default="base_link"/>

  <arg name="launch_delay" default="0"/>

  <arg name="launch_rviz" default="true"/>

  <arg name="enable_debug"      default="false"/>
  <arg name="enable_valgrind"   default="false"/>
  <arg name="launch_manager"    default="true"/>
  <arg name="manager"           default="mocha_manager"/>

  <arg name="launch_prefix" default="gdb -ex run --args" if="$(eval arg('enable_debug') and not arg('enable_valgrind') and arg('launch_manager'))"/>
  <arg name="launch_prefix" default="valgrind "          if="$(eval arg('enable_valgrind') and not arg('enable_debug') and arg('launch_manager'))"/>
  <arg name="launch_prefix" default=""                   if="$(eval not arg('enable_debug') and not arg('enable_valgrind'))"/>

  <node pkg="nodelet" type="nodelet" name="$(arg manager)" output="screen" respawn="true" launch-prefix="$(arg launch_prefix)"
    args="manager" if="$(arg launch_manager)"/>

  <include file="$(find carplanner_msgs)/launch/mocha.launch">
    <arg name="launch_delay"        value="$(eval launch_delay+0)"/>
    <arg name="enable_debug"        value="$(arg enable_debug)"/>
    <arg name="launch_manager"      value="false"/>
    <arg name="manager"             value="$(arg manager)"/>
    <arg name="params_file"         value="$(arg params_file)"/>
    <arg name="mode"                value="0"/>
    <arg name="terrain_mesh_file"   value="$(arg terrain_mesh_file)"/>
    <arg name="car_mesh_file"       value="$(arg car_mesh_file)"/>
    <arg name="wheel_mesh_file"     value="$(arg wheel_mesh_file)"/>
    <arg name="map_frame"           value="$(arg map_frame)"/>
    <arg name="base_link_frame"     value="$(arg base_link_frame)"/>
    <arg name="launch_rviz"         value="false"/>
  </include>
  <!-- <include file="$(find timed_roslaunch)/timed_roslaunch.launch">
    <arg name="time"   value="5"/>
    <arg name="pkg"    value="carplanner_msgs"/>
    <arg name="file"   value="mocha.launch"/>
    <arg name="value"  value="manager:=$(arg manager)
      params_file:=$(arg params_file)
      mode:=0
      terrain_mesh_file:=$(arg terrain_mesh_file)
      car_mesh_file:=$(arg car_mesh_file)
      wheel_mesh_file:=$(arg wheel_mesh_file)
      map_frame:=$(arg map_frame)
      base_link_frame:=$(arg base_link_frame)
      enable_debug:=$(arg enable_debug)"/>
    <arg name="node_name" value="timed_mochaplanner"/>
  </include> -->

  <include file="$(find infinitam)/launch/demo.launch" if="$(arg launch_infinitam)">
    <arg name="launch_delay"        value="$(eval launch_delay+5)"/>
    <arg name="enable_debug"        value="$(arg enable_debug)"/>
    <arg name="convert_metric"      value="$(arg convert_metric)"/>
    <arg name="publish_vertices"    value="$(arg publish_vertices)"/>
    <arg name="world_frame_id"      value="$(arg world_frame_id)"/>
    <arg name="camera_frame_id"     value="$(arg camera_frame_id)"/>
    <arg name="mesh_topic"          value="$(arg mesh_topic)"/>
    <arg name="depth_info_topic"    value="$(arg depth_info_topic)"/>
    <arg name="depth_topic"         value="$(arg depth_topic)"/>
    <arg name="rgb_info_topic"      value="$(arg rgb_info_topic)"/>
    <arg name="rgb_topic"           value="$(arg rgb_topic)"/>
    <arg name="enable_guess_from_tf_tree" value="$(arg enable_guess_from_tf_tree)"/>
  </include>

  <node pkg="carplanner_msgs" type="waypoint_generator" name="local_goal2local_waypoints" output="log">
    <param name="odom_topic" value="odom"/>
    <param name="goal_topic" value="planner/goal"/>
    <param name="waypoints_topic" value="planner/input_waypoints"/>
    <!-- <param name="map_frame_id" value="X1/map"/>
    <param name="base_frame_id" value="X1/base_link"/> -->
    <param name="rate" value="100"/>
  </node>

  <node pkg="topic_tools" type="relay" name="local_goal_relay3" args="/goal planner/goal"/>
  <node pkg="topic_tools" type="relay" name="local_goal_relay2" args="/move_base_simple/goal planner/goal"/>
  <node pkg="topic_tools" type="relay" name="local_goal_relay" args="/rviz/nav_goal_2d planner/goal"/>
  <!-- <node pkg="topic_tools" type="relay" name="global_path_relay" args="/H01/ma_goal_path planner/global_path"/> -->
  <!-- <node pkg="topic_tools" type="relay" name="local_path_relay" args="planner/actual_traj /X1/local_path"/> -->
  <node pkg="topic_tools" type="relay" name="local_pose_relay" args="/initialpose vehicle/initial_pose"/>

 <node pkg="carplanner_msgs" type="tf2odom" name="tf2odom" output="log">
    <param name="parent_frame" value="$(arg map_frame)"/>
    <param name="child_frame" value="$(arg base_link_frame)/9"/>
    <param name="odom_topic" value="odom"/>
    <param name="rate" value="100"/>
  </node>

 <node pkg="carplanner_msgs" type="pose2setstate" name="pose2setstate" output="log">
    <param name="pose_topic" value="vehicle/initial_pose"/>
    <param name="set_state_service" value="vehicle/set_state"/>
  </node>

  <!-- <node pkg="carplanner_msgs" type="path_goal_generator" name="global_path2local_goal" output="log">
    <param name="path_topic" value="planner/global_path"/>
    <param name="goal_topic" value="planner/goal"/>
    <param name="odom_topic" value="odom"/>
    <param name="path_intercept_length" value="3.0"/>
    <param name="rate" value="100"/>
  </node> -->

  <node pkg="rviz" type="rviz" name="mocha_rviz" args="-d $(find mochapc)/rviz/carplanner.rviz" if="$(arg launch_rviz)"/>

  <!-- <node pkg="rostopic" type="rostopic" name="default_waypoints_publisher" args="pub /planner/input_waypoints carplanner_msgs/OdometryArray latch file=$(find mochapc)/launch/default_waypoints.odometry_array" output="screen" if="$(arg publish_default_waypoints)"/> -->
  <node pkg="rostopic" type="rostopic" name="default_initial_pose_publisher" args="pub /vehicle/initial_pose geometry_msgs/PoseWithCovarianceStamped --latch --file=$(find mochapc)/launch/default_initial_pose.pose_with_covariance_stamped"  output="screen" if="$(arg publish_default_waypoints)"/>
  <node pkg="rostopic" type="rostopic" name="default_goal_publisher" args="pub /planner/goal geometry_msgs/PoseStamped --latch --file=$(find mochapc)/launch/default_goal.pose_stamped"  output="screen" if="$(arg publish_default_waypoints)"/>

</launch>
