<launch>

    <arg name="machine" default=""/>

    <arg name="launch_joy" default="false"/>
    <arg name="launch_joy_goal_generator" default="true"/>
    <arg name="launch_diff_goal_generator" default="true"/>

    <arg name="joy_dev" default="/dev/input/js0"/>

    <arg name="joy_config" default="joy_goal_generator"/>
    <arg name="config_filepath" default="$(find carplanner_tools)/config/$(arg joy_config).yaml" />
    <arg name="joy_topic" default="/joy" />
    <arg name="diff_goal_topic" default="/diff_goal"/>
    <arg name="goal_topic" default="/goal"/>
    
    <node pkg="joy" type="joy_node" name="joy_node" if="$(arg launch_joy)">
        <param name="dev" value="$(arg joy_dev)" />
        <param name="deadzone" value="0.1" />
        <param name="autorepeat_rate" value="20" />
        <remap from="joy" to="$(arg joy_topic)" />
    </node> 

    <node pkg="carplanner_tools" name="joy_goal_generator" type="joy_goal_generator" output="screen" if="$(arg launch_joy_goal_generator)">
        <rosparam command="load" file="$(arg config_filepath)" />
        <remap from="joy" to="$(arg joy_topic)" />
        <remap from="goal" to="$(arg diff_goal_topic)" />
    </node>

    <node pkg="carplanner_tools" type="diff_goal_generator" name="diff_goal_generator" output="log" if="$(arg launch_diff_goal_generator)">
        <param name="diff_goal_topic" value="$(arg diff_goal_topic)"/>
        <param name="goal_topic" value="$(arg goal_topic)"/>
        <param name="odom_topic" value="/odom"/>
    </node>

</launch>
