<launch>

  <arg name="launch_sensors"       default="true"/>
  <arg name="launch_liosam"        default="true"/>
  <arg name="launch_odom_tools"    default="true"/>
  <arg name="launch_car"           default="true"/>
  <arg name="launch_rviz"          default="false"/>

  <arg name="fixed_frame"          default="map"/>
  <arg name="base_link_frame"      default="base_link"/>
  <arg name="odom_topic"           default="odom"/>

  <include file="$(find carplanner_msgs)/launch/sensors.launch" if="$(arg launch_sensors)">
  </include>
  
  <include file="$(find lio_sam)/launch/loam.launch" if="$(arg launch_liosam)">
    <arg name="config_file" value="$(find lio_sam)/config/params.yaml"/>
  </include>

  <include file="$(find vicon_tools)/launch/odom_tools.launch" if="$(arg launch_odom_tools)">
    <arg name="launch_rviz"          value="false"/>
    <arg name="fixed_frame"          value="$(arg fixed_frame)"/>
    <arg name="base_link_frame"      value="$(arg base_link_frame)"/>
    <arg name="odom_topic"           value="$(arg odom_topic)"/>
  </include>
  
  <include file="$(find drive_control)/launch/remote_control.launch" if="$(arg launch_car)">
    <arg name="control_mode"  value="1"/>
    <arg name="control_scale" value="10.0"/>
  </include>

  <node pkg="rviz" type="rviz" name="vicon_demo_rviz" args="-d $(find vicon_tools)/rviz/vicon.rviz" if="$(arg launch_rviz)"/>

</launch>
