<launch>

  <arg name="enable_debug" default="false"/>
  <arg name="launch_prefix" default="gdb -ex run --args" if="$(arg enable_debug)"/>
  <arg name="launch_prefix" default="" unless="$(arg enable_debug)"/>
  <!-- <arg name="input_mesh" default="/infinitam/mesh"/> -->
  <arg name="map_frame" default="$(arg map_frame)"/>
  <arg name="base_link_frame" default="$(arg base_link_frame)"/>
  <arg name="params_file" default="/home/ubuntu/mikem_local_planning_ws/src/mochapc/learning_params.csv"/>
  <arg name="mode" default="0"/>
  <arg name="terrain_mesh_file" default="/home/ubuntu/mikem_local_planning_ws/src/mochapc/labLoop.ply"/>
  <arg name="car_mesh_file" default="/home/ubuntu/mikem_local_planning_ws/src/mochapc/herbie/herbie.blend"/>
  <arg name="wheel_mesh_file" default="/home/ubuntu/mikem_local_planning_ws/src/mochapc/herbie/wheel.blend"/>

  <!-- <node pkg="nodelet" type="nodelet" name="mocha_manager"  args="manager"/> -->
  <node pkg="nodelet" type="nodelet" name="mocha_vehicle" args="load mochapc/MochaVehicleNodelet mocha_manager" output="screen" respawn="true"  launch-prefix="$(arg launch_prefix)">
    <!-- <remap from="input_mesh" to="$(arg input_mesh)"/> -->
    <param name="params_file" value="$(arg params_file)"/>
    <param name="mode" value="$(arg mode)"/>
    <param name="terrain_mesh_file" value="$(arg terrain_mesh_file)"/>
    <param name="car_mesh_file" value="$(arg car_mesh_file)"/>
    <param name="wheel_mesh_file" value="$(arg wheel_mesh_file)"/>
    <param name="map_frame" value="$(arg map_frame)"/>
    <param name="base_link_frame" value="$(arg base_link_frame)"/>
  </node>

</launch>
