<launch>

  <arg name="plan_topic" default="planner/plan"/>
  <arg name="state_topic" default="vehicle/0/state"/>

  <arg name="command_topic" default="vehicle/0/command"/>

  <!-- <node pkg="nodelet" type="nodelet" name="mocha_manager"  args="manager"/> -->
  <!-- <node pkg="nodelet" type="nodelet" name="mocha_controller" args="load mochapc/MochaControllerNodelet mocha_manager" respawn="true">
  </node> -->

  <node pkg="nodelet" type="nodelet" name="mocha_controller" args="standalone mochapc/MochaControllerNodelet" output="screen" respawn="true">
    <remap from="planner/plan"        to="$(arg plan_topic)"/>
    <remap from="controller/state"    to="$(arg state_topic)"/>
    <remap from="controller/command"  to="$(arg command_topic)"/>
  </node>

</launch>
