<launch>

  <!-- <arg name="input_mesh" default="/infinitam/mesh"/> -->
  <arg name="params_file" default="/home/ubuntu/mikem_local_planning_ws/src/mochapc/learning_params.csv"/>
  <arg name="mode" default="0"/>
  <arg name="terrain_mesh_file" default="/home/ubuntu/mikem_local_planning_ws/src/mochapc/labLoop.ply"/>
  <arg name="car_mesh_file" default="/home/ubuntu/mikem_local_planning_ws/src/mochapc/herbie/herbie.blend"/>
  <arg name="wheel_mesh_file" default="/home/ubuntu/mikem_local_planning_ws/src/mochapc/herbie/wheel.blend"/>

  <node pkg="nodelet" type="nodelet" name="mocha_manager"  args="manager" output="screen" respawn="true"/>
  <include file="$(find carplanner_msgs)/launch/mochavehicle.launch">
    <!-- <remap from="input_mesh" to="$(arg input_mesh)"/> -->
    <arg name="params_file" value="$(arg params_file)"/>
    <arg name="mode" value="$(arg mode)"/>
    <arg name="terrain_mesh_file" value="$(arg terrain_mesh_file)"/>
    <arg name="car_mesh_file" value="$(arg car_mesh_file)"/>
    <arg name="wheel_mesh_file" value="$(arg wheel_mesh_file)"/>
  </include>
  <include file="$(find carplanner_msgs)/launch/mochaplanner.launch">
    <!-- <remap from="input_mesh" to="$(arg input_mesh)"/> -->
    <arg name="params_file" value="$(arg params_file)"/>
    <arg name="terrain_mesh_file" value="$(arg terrain_mesh_file)"/>
  </include>

</launch>
