<launch>

  <!-- <arg name="input_mesh" default="/infinitam/mesh"/> -->
  <arg name="map_frame" default="map"/>
  <arg name="base_link_frame" default="base_link"/>
  <arg name="params_file" default="$(find mochapc)/learning_params.csv"/>
  <arg name="terrain_mesh_file" default="$(find mochapc)/labLoop.ply"/>

  <arg name="launch_delay" default="0"/>
  <arg name="enable_debug" default="false"/>
  <arg name="launch_manager"     default="true"/>
  <arg name="manager"     default="mocha_planner_manager"/>

  <arg name="launch_prefix" default="gdb -ex run --args" if="$(eval arg('enable_debug') and arg('launch_manager'))"/>
  <arg name="launch_prefix" default="" unless="$(eval arg('enable_debug') and arg('launch_manager'))"/>

  <node pkg="nodelet" type="nodelet" name="$(arg manager)" output="screen" respawn="true" launch-prefix="$(arg launch_prefix)"
    args="manager" if="$(arg launch_manager)"/>

  <node pkg="nodelet" type="nodelet" name="mocha_planner" args="load mochapc/MochaPlannerNodelet $(arg manager)" output="log" respawn="true"  launch-prefix="bash -c 'sleep $(arg launch_delay); $0 $@'">
    <!-- <remap from="input_mesh" to="$(arg input_mesh)"/> -->
    <param name="map_frame" value="$(arg map_frame)"/>
    <param name="base_link_frame" value="$(arg base_link_frame)"/>
    <param name="params_file" value="$(arg params_file)"/>
    <param name="terrain_mesh_file" value="$(arg terrain_mesh_file)"/>
  </node>

</launch>
