<launch>


  <arg name="plan_topic" default="planner/plan"/>
  <arg name="state_topic" default="vehicle/9/state"/>
  <arg name="command_topic" default="vehicle/9/command"/>

  <arg name="launch_delay" default="0"/>
  
  <arg name="enable_debug" default="false"/>
  <!-- <arg name="launch_manager"     default="true"/>
  <arg name="manager" default="local_planner"/> -->

  <!-- <arg name="launch_prefix" default="gdb -ex run -args" if="$(eval arg('enable_debug') and arg('launch_manager'))"/>
  <arg name="launch_prefix" default="" unless="$(eval arg('enable_debug') and arg('launch_manager'))"/> -->

  <!-- <node pkg="nodelet" type="nodelet" name="$(arg manager)" output="screen" respawn="true" launch-prefix="$(arg launch_prefix)"
    args="manager" if="$(arg launch_manager)"/> -->

  <!-- <node pkg="nodelet" type="nodelet" name="mocha_controller" args="load mochapc/MochaControllerNodelet mocha_manager" respawn="true">
  </node> -->

  <arg name="launch_prefix" default="bash -c 'sleep $(arg launch_delay); gdb -ex run --args $0 $@'" if="$(eval arg('enable_debug'))"/>
  <arg name="launch_prefix" default="bash -c 'sleep $(arg launch_delay); $0 $@'" unless="$(eval arg('enable_debug'))"/>

  <node pkg="nodelet" type="nodelet" name="mocha_controller" args="standalone mochapc/MochaControllerNodelet" output="screen" respawn="true" launch-prefix="$(arg launch_prefix)">
    <remap from="planner/plan"        to="$(arg plan_topic)"/>
    <remap from="controller/state"    to="$(arg state_topic)"/>
    <remap from="controller/command"  to="$(arg command_topic)"/>
  </node>

</launch>
