<launch>

  <arg name="enable_debug" default="false"/>
  <arg name="launch_delay" default="0"/>

  <arg name="launch_rviz" default="false"/>

  <arg name="launch_manager"     default="true"/>
  <arg name="manager"     default="local_planner"/>
  <!-- <arg name="input_mesh" default="/infinitam/mesh"/> -->
  <arg name="map_frame" default="map"/>
  <arg name="base_link_frame" default="base_link"/>
  <!-- <arg name="params_file" default="/home/mike/code/mochapc/learning_params.csv"/> -->
  <arg name="params_file" default="/home/mike/code/mochapc/husky_params.csv"/>
  <!-- <arg name="params_file" default="/home/mike/code/mochapc/working_params.csv"/> -->
  <!-- <arg name="params_file" default="/home/mike/code/mochapc/ninjacar_params.csv"/> -->
  <arg name="mode" default="0"/>
  <!-- <arg name="terrain_mesh_file" default="/home/mike/code/mochapc/labLoop.ply"/> -->
  <!-- <arg name="terrain_mesh_file" default="/home/mike/code/mochapc/disk-ascii.ply"/> -->
  <!-- <arg name="terrain_mesh_file" default="/home/mike/smooth_v_hump_mesh2.ply"/> -->
  <!-- <arg name="terrain_mesh_file" default="/home/mike/pvc_borders_w_bumps_mesh.ply"/> -->
  <!-- <arg name="terrain_mesh_file" default="/home/mike/block_track.ply"/> -->
  <!-- <arg name="terrain_mesh_file" default="/home/mike/block_track_w_bumps.ply"/> -->
  <!-- <arg name="terrain_mesh_file" default="/home/mike/block_track_w_constrainpassage.ply"/> -->
  <!-- <arg name="terrain_mesh_file" default="/home/mike/dirt_track_blender/test_track.ply"/> -->
  <!-- <arg name="terrain_mesh_file" default="/home/mike/dirt_track_blender/small_test_track.ply"/> -->
  <!-- <arg name="terrain_mesh_file" default="/home/mike/virtual_cave.ply"/> -->
  <arg name="terrain_mesh_file" default="/home/mike/virtual_cave2.ply"/>
  <arg name="car_mesh_file" default="/home/mike/code/mochapc/herbie/herbie.blend"/>
  <arg name="wheel_mesh_file" default="/home/mike/code/mochapc/herbie/wheel.blend"/>

  <arg name="launch_prefix" default="gdb -ex run --args" if="$(eval arg('enable_debug') and arg('launch_manager'))"/>
  <arg name="launch_prefix" default="" unless="$(eval arg('enable_debug') and arg('launch_manager'))"/>

  <node pkg="nodelet" type="nodelet" name="$(arg manager)" output="screen" launch-prefix="$(arg launch_prefix)"
    args="manager" if="$(arg launch_manager)"/>

  <include file="$(find carplanner_msgs)/launch/mochavehicle.launch">
    <arg name="enable_debug"        value="$(arg enable_debug)"/>
    <arg name="launch_delay" value="$(arg launch_delay)"/>
    <arg name="launch_manager" value="false"/>
    <arg name="manager" value="$(arg manager)"/>
    <arg name="params_file" value="$(arg params_file)"/>
    <arg name="mode" value="$(arg mode)"/>
    <arg name="terrain_mesh_file" value="$(arg terrain_mesh_file)"/>
    <arg name="car_mesh_file" value="$(arg car_mesh_file)"/>
    <arg name="wheel_mesh_file" value="$(arg wheel_mesh_file)"/>
    <arg name="map_frame" value="$(arg map_frame)"/>
    <arg name="base_link_frame" value="$(arg base_link_frame)"/>
  </include>

  <include file="$(find carplanner_msgs)/launch/mochaplanner.launch">
    <arg name="enable_debug"        value="$(arg enable_debug)"/>
    <arg name="launch_delay" value="$(eval launch_delay+3)"/>
    <arg name="launch_manager" value="false"/>
    <arg name="manager" value="$(arg manager)"/>
    <arg name="map_frame" value="$(arg map_frame)"/>
    <arg name="base_link_frame" value="$(arg base_link_frame)"/>
    <arg name="params_file" value="$(arg params_file)"/>
    <arg name="terrain_mesh_file" value="$(arg terrain_mesh_file)"/>
  </include>

  <!-- <include file="$(find carplanner_msgs)/launch/mochacontroller.launch">
    <arg name="manager" value="$(arg manager)"/>
  </include> -->

  <node pkg="rviz" type="rviz" name="mocha_rviz" args="-d $(env HOME)/.rviz/carplanner.rviz" if="$(arg launch_rviz)"/>

</launch>
