<launch>

  <arg name="launch_planner"    default="true"/>
  <arg name="launch_infinitam"  default="true"/>
  <arg name="launch_car"        default="true"/>
  <arg name="launch_sensors"    default="true"/>
  <arg name="launch_odom_tools" default="true"/>
  <arg name="localization_mode" default="RS"/> <!-- VICON, LIOSAM, RS, STATIC, FAKE, NONE -->
  <arg name="launch_rviz"       default="true"/>

  <arg name="use_royale"        default="false"/>
  <arg name="enable_depth_completion" default="false"/>

  <arg name="enable_debug"    default="false"/>
  <arg name="enable_valgrind" default="false"/>
  <arg name="launch_prefix"   default="gdb -ex run -ex bt --args" if="$(eval arg('enable_debug') and not arg('enable_valgrind'))"/>
  <arg name="launch_prefix"   default="valgrind "          if="$(eval arg('enable_valgrind') and not arg('enable_debug'))"/>
  <arg name="launch_prefix"   default=""                   if="$(eval not arg('enable_debug') and not arg('enable_valgrind'))"/>

  <group if="$(arg launch_planner)">
    <rosparam param="/gui/waypoints_config">'eight'</rosparam>
    <rosparam param="/gui/waypoints_vel_min">4.0</rosparam>
    <rosparam param="/gui/mesh_import_rate">INFINITY</rosparam>

    <!-- <node pkg="MochaGui" type="run_exp.sh" name="mochagui" output="screen" respawn="true" launch-prefix="$(arg launch_prefix)"/> -->
  </group>

  <include file="$(find carplanner_msgs)/launch/sensors.launch" if="$(arg launch_sensors)">
    <arg name="enable_depth_camera"  value="true"/> 
    <arg name="enable_lidar"  value="$(eval localization_mode=='LIOSAM')"/> 
    <arg name="enable_imu"  value="true"/> 
    <arg name="use_royale"  value="$(arg use_royale)"/> 
  </include>

  <group if="$(arg launch_infinitam)">
    <include file="$(find infinitam)/launch/nodelet_demo.launch">
      <arg name="launch_delay" value="5"/>  
      <arg name="convert_metric"              value="false"/>
      <arg name="publish_vertices"            value="false"/>
      <arg name="world_frame_id"              value="map"/>
      <arg name="mesh_topic"                  value="input_terrain_mesh"/>
      <arg name="enable_guess_from_tf_tree"   value="true"/>
      <arg name="z_floor"                     value="-1.0"/>
      <!-- <arg name="z_ceiling"                   value="0.185"/> -->
      <!-- <arg name="z_ceiling"                   value="0.0"/> -->
      <arg name="z_ceiling"                   value="0.5"/>
      <!-- <arg name="z_floor"                     value="-2.0"/> -->
      <!-- <arg name="z_ceiling"                   value="-1.0"/> -->
      <arg if="$(arg use_royale)"      
        name="camera_frame_id"   value="royale_camera_optical_frame"/>
      <arg unless="$(arg use_royale)"  
        name="camera_frame_id"   value="d435_camera_depth_optical_frame"/>
      <arg if="$(arg use_royale)"      
        name="depth_info_topic"  value="/royale_camera/camera_info"/>
      <arg unless="$(arg use_royale)"  
        name="depth_info_topic"  value="/d435_camera/depth/camera_info"/>
      <arg if="$(eval use_royale and not enable_depth_completion)"      
        name="depth_topic"       value="/royale_camera/depth_image_metric_rect"/>
      <arg if="$(eval use_royale and enable_depth_completion)"      
        name="depth_topic"       value="/royale_camera/depth_image_metric_rect_completed"/>
      <arg if="$(eval not use_royale and not enable_depth_completion)"      
        name="depth_topic"       value="/d435_camera/depth/image_rect_raw"/>
      <arg if="$(eval not use_royale and enable_depth_completion)"      
        name="depth_topic"       value="/d435_camera/depth/image_rect_raw_completed"/>
      <arg if="$(arg use_royale)"      
        name="rgb_info_topic"    value=""/>
      <arg unless="$(arg use_royale)"  
        name="rgb_info_topic"    value="/d435_camera/aligned_depth_to_color/camera_info"/>
      <arg if="$(arg use_royale)"      
        name="rgb_topic"         value=""/>
      <arg unless="$(arg use_royale)"  
        name="rgb_topic"         value="/d435_camera/aligned_depth_to_color/image_rect_raw"/>
    </include>
    <include file="$(find ip_basic)/launch/run.launch" if="$(arg enable_depth_completion)">
      <arg if="$(arg use_royale)" 
        name="input_topic"  value="/royale_camera/depth_image_metric_rect"/>
      <arg if="$(arg use_royale)" 
        name="output_topic" value="/royale_camera/depth_image_metric_rect_completed"/>
      <arg unless="$(arg use_royale)" 
        name="input_topic"  value="/d435_camera/depth/image_rect_raw"/>
      <arg unless="$(arg use_royale)" 
        name="output_topic" value="/d435_camera/depth/image_rect_raw_completed"/>
      <arg name="fill_type"    value="fast"/>
      <arg name="extrapolate"  value="false"/>
      <arg name="blur_type"    value="gaussian"/>
    </include>
  </group>

  <group if="$(arg launch_car)">
    <include file="$(find drive_control)/launch/remote_control.launch">
      <arg name="launch_joy_node" value="true"/>
      <arg name="launch_teleop_drive_joy" value="true"/>
      <arg name="control_mode"  value="1"/>
      <arg name="control_scale" value="10.0"/>
    </include>

    <node pkg="carplanner_tools" type="controlcommand2drivecommand" name="control2drive">
      <remap from="control_command" to="/command"/>
      <remap from="drive_command"   to="/planner_command"/>
    </node>
  </group>

  <include file="$(find vicon_tools)/launch/vicon_demo.launch" if="$(eval localization_mode=='VICON')"> -->
    <arg name="launch_vicon"         value="true"/>
    <arg name="launch_odom_tools"    value="false"/>
    <arg name="launch_rviz"          value="false"/>
    <arg name="fixed_frame"          value="map"/>
    <arg name="mocap_frame"          value="mocap"/>
    <arg name="mocap_object"         value="N02"/>
    <arg name="base_link_frame"      value="base_link"/>
  </include>
  <include file="$(find carplanner_msgs)/launch/liosam_demo.launch" if="$(eval localization_mode=='LIOSAM')">
    <arg name="launch_sensors"       value="false"/>
    <arg name="launch_liosam"        value="true"/>
    <arg name="launch_odom_tools"    value="false"/>
    <arg name="launch_car"           value="false"/>
    <arg name="launch_rviz"          value="false"/>
    <arg name="fixed_frame"          value="map"/>
    <arg name="base_link_frame"      value="base_link"/>
    <arg name="odom_topic"           value="odom"/>
  </include>
  <group if="$(eval localization_mode=='RS')">
    <include file="$(find realsense2_camera)/launch/rs_t265.launch">
      <arg name="camera"                   value="t265_camera"/>
      <arg name="serial_no"                value="845412110073"/>
      <!-- <arg name="gyro_fps"            default="-1"/> -->
      <!-- <arg name="accel_fps"           default="-1"/> -->
      <!-- <arg name="enable_gyro"         default="true"/> -->
      <!-- <arg name="enable_accel"        default="true"/> -->
      <!-- <arg name="enable_pose"         default="true"/> -->
      <!-- <arg name="enable_sync"           default="false"/> -->
      <!-- <arg name="linear_accel_cov"      default="0.01"/> -->
      <!-- <arg name="initial_reset"            value="true"/> -->
      <!-- <arg name="reconnect_timeout"     default="6.0"/> -->
      <!-- <arg name="unite_imu_method"      default=""/> -->
      <!-- <arg name="publish_odom_tf"     default="true"/> -->
    </include>
    <node pkg="tf2_ros" type="static_transform_publisher" name="rs_odom"
      args="0 0 0 3.1415 0 0 map camera_odom_frame2"/>
    <!-- <node pkg="tf2_ros" type="static_transform_publisher" name="rs_odom2"
      args="-0.120 0 0 3.1415 -1.5708 0 camera_pose_frame2 base_link"/> -->
    <node pkg="vicon_tools" type="tf_reframer" name="rs_tf_reframer" output="screen">
      <param name="listen_parent_frame_id" value="t265_camera_odom_frame"/>
      <param name="listen_child_frame_id" value="t265_camera_pose_frame"/>
      <param name="listen_rate" value="200.0"/>
      <param name="broadcast_parent_frame_id" value="camera_odom_frame2"/>
      <param name="broadcast_child_frame_id" value="camera_pose_frame2"/>
      <param name="broadcast_rate" value="200.0"/>
      <!-- <param name="pre_transform" value="0 0 0 0 0 0"/>
      <param name="post_transform" value="0 0 0 0 0 0"/> -->
      <param name="override_z" value="0.0"/>
    </node>
    <node pkg="vicon_tools" type="tf_reframer" name="rs_tf_reframer2" output="screen">
      <param name="listen_parent_frame_id" value="t265_link"/>
      <param name="listen_child_frame_id" value="base_link"/>
      <param name="listen_rate" value="200.0"/>
      <param name="broadcast_parent_frame_id" value="camera_pose_frame2"/>
      <param name="broadcast_child_frame_id" value="base_link"/>
      <param name="broadcast_rate" value="200.0"/>
      <!-- <param name="pre_transform" value="0 0 0 0 0 0"/>
      <param name="post_transform" value="0 0 0 0 0 0"/> -->
      <!-- <param name="override_z" value="0.0"/> -->
    </node>
    <!-- <node pkg="vicon_tools" type="tf_reframer" name="rs_tf_reframer3" output="screen">
      <param name="listen_parent_frame_id" value="map"/>
      <param name="listen_child_frame_id" value="base_link"/>
      <param name="listen_rate" value="0.0"/>
      <param name="broadcast_parent_frame_id" value="map"/>
      <param name="broadcast_child_frame_id" value="base_link_initial"/>
      <param name="broadcast_rate" value="200.0"/>
    </node>
    <node pkg="tf2_ros" type="static_transform_publisher" name="rs_tf_reframer5"
      args="0 0 0 3.1415 0 0 base_link_initial base_link_initial2"/>
    <node pkg="vicon_tools" type="tf_reframer" name="rs_tf_reframer4" output="screen">
      <param name="listen_parent_frame_id" value="base_link/vicon"/>
      <param name="listen_child_frame_id" value="map/vicon"/>
      <param name="listen_rate" value="0.0"/>
      <param name="broadcast_parent_frame_id" value="base_link_initial2"/>
      <param name="broadcast_child_frame_id" value="map/vicon"/>
      <param name="broadcast_rate" value="200.0"/>
    </node>
    <node pkg="tf2_ros" type="static_transform_publisher" name="rs_tf_reframer6"
      args="0 0 0 3.1415 0 0 base_link/vicon base_link/vicon2"/>
    <include file="$(find vicon_tools)/launch/vicon_demo.launch"> 
      <arg name="launch_vicon"         value="true"/>
      <arg name="launch_odom_tools"    value="false"/>
      <arg name="launch_rviz"          value="false"/>
      <arg name="fixed_frame"          value="map/vicon"/>
      <arg name="mocap_frame"          value="mocap"/>
      <arg name="mocap_object"         value="N02"/>
      <arg name="base_link_frame"      value="base_link/vicon"/>
    </include> -->
  </group>
  <node pkg="tf2_ros" type="static_transform_publisher" name="static_localization"
    args="0 0 0 0 0 0 map base_link" if="$(eval localization_mode=='STATIC')"/>
  <include file="$(find vicon_tools)/launch/fake_vicon_demo.launch" if="$(eval localization_mode=='FAKE')">
    <arg name="launch_vicon"         value="true"/>
    <arg name="launch_odom_tools"    value="false"/>
    <arg name="launch_rviz"          value="false"/>
    <arg name="fixed_frame"          value="map"/>
    <arg name="base_link_frame"      value="base_link"/>
    <arg name="odom_topic"           value="odom"/>
    <arg name="offset"               value="[0.0, 0.0, 0.0]"/>
    <arg name="radius"               value="1.0"/>
    <arg name="speed"                value="1.0"/>
  </include>
  <include file="$(find vicon_tools)/launch/odom_tools.launch" if="$(arg launch_odom_tools)">
    <arg name="launch_rviz"          value="false"/>
    <arg name="fixed_frame"          value="map"/>
    <arg name="base_link_frame"      value="base_link"/>
    <arg name="odom_topic"           value="/odom"/>
  </include>

  <node pkg="rviz" type="rviz" name="mochagui_exp_rviz" args="-d $(find carplanner_msgs)/rviz/carplanner.rviz" if="$(arg launch_rviz)"/>

</launch>
