<launch>
  <arg name="config"              default="solo"/>
  <arg name="sensors"              default="lite"/>

  <arg name="launch_delay"         default="0"/>
  <arg name="enable_localization"  default="true"/>
  <arg name="enable_mapping"       default="true"/>
  <arg name="enable_multi_agent"   default="true"/>
  <arg name="enable_planning"      default="true"/>
  <arg name="enable_control"       default="false"/>
  <arg name="enable_artifacts"     default="false"/>
  <arg name="enable_rviz"          default="false"/>
  <arg name="motion_on_startup"    default="false"/>

  <include file="$(find timed_roslaunch)/launch/timed_roslaunch.launch">
    <arg name="time"   value="$(eval launch_delay+0)"/>
    <arg name="pkg"    value="marble_common"/>
    <arg name="file"   value="subt.launch"/>
    <arg name="value"  value="config:=$(arg config) sensors:=$(arg sensors) groundtruth:=true"/>
    <arg name="node_name" value="Sim_timed_roslaunch"/>
  </include>
  <!-- <include file="$(find marble_common)/launch/sim/subt.launch">
    <arg name="config" value="solo"/>
    <arg name="sensors" value="camera"/>
    <arg name="groundtruth" value="true"/>
  </include> -->

  <include file="$(find timed_roslaunch)/launch/timed_roslaunch.launch">
    <arg name="time"   value="$(eval launch_delay+10)"/>
    <arg name="pkg"    value="marble_common"/>
    <arg name="file"   value="Base.launch"/>
    <arg name="value"  value="agents:='Base X1 X2' potentialNeighbors:='X1 X2' enable_rviz:=false"/>
    <arg name="node_name" value="Base_timed_roslaunch"/>
  </include>

  <!-- <include file="$(find marble_common)/launch/sim/Base.launch">
      <arg name="agents"              value="Base X1"/>
      <arg name="potentialNeighbors"  value="X1"/>
      <arg name="enable_rviz"         value="false"/>
  </include> -->

  <include file="$(find timed_roslaunch)/launch/timed_roslaunch.launch">
    <arg name="time"   value="$(eval launch_delay+10)"/>
    <arg name="pkg"    value="marble_common"/>
    <arg name="file"   value="X1.launch"/>
    <arg name="value"  value="
      enable_localization:=$(arg enable_localization)
      enable_mapping:=$(arg enable_mapping)
      enable_multi_agent:=$(arg enable_multi_agent)
      enable_planning:=$(arg enable_planning)
      enable_control:=$(arg enable_control)
      enable_artifacts:=$(arg enable_artifacts)
      enable_rviz:=$(arg enable_rviz)
      motion_on_startup:=$(arg motion_on_startup)
      "/>
    <arg name="node_name" value="X1_timed_roslaunch"/>
  </include>

    <!-- <node pkg="tf2_ros" type="static_transform_publisher" name="Toptical" args="0 0 0 -1.57 0 -1.57 X1/base_link/camera_down X1/base_link/camera_down_optical"/> -->

  <!-- <include file="$(find marble_common)/launch/sim/X1.launch">
      <arg name="enable_localization" value="true"/>
      <arg name="enable_mapping"      value="true"/>
      <arg name="enable_multi_agent"  value="true"/>
      <arg name="enable_planning"     value="true"/>
      <arg name="enable_control"      value="false"/>
      <arg name="enable_artifacts"    value="false"/>
      <arg name="enable_rviz"         value="false"/>
      <arg name="motion_on_startup" value="false"/>
  </include> -->

    <include file="$(find timed_roslaunch)/launch/timed_roslaunch.launch" if="$(eval config=='team')">
      <arg name="time"   value="$(eval launch_delay+12)"/>
      <arg name="pkg"    value="marble_common"/>
      <arg name="file"   value="X2.launch"/>
      <arg name="value"  value="
        enable_localization:=$(arg enable_localization)
        enable_mapping:=$(arg enable_mapping)
        enable_multi_agent:=$(arg enable_multi_agent)
        enable_planning:=$(arg enable_planning)
        enable_control:=$(arg enable_control)
        enable_artifacts:=$(arg enable_artifacts)
        enable_rviz:=$(arg enable_rviz)
        motion_on_startup:=$(arg motion_on_startup)
        "/>
      <arg name="node_name" value="X2_timed_roslaunch"/>
    </include>

</launch>
