<launch>

  <arg name="launch_vicon"       default="true"/>
  <arg name="launch_sensors"     default="true"/>
  <arg name="launch_infinitam"   default="true"/>
  <arg name="launch_rviz"        default="true"/>
  <arg name="use_royale"         default="true"/> <!-- true: royale, false: rs -->

  <include file="$(find vicon_tools)/launch/vicon_demo.launch" if="$(arg launch_vicon)">
    <arg name="launch_vicon"         value="true"/>
    <arg name="launch_odom_tools"    value="true"/>
    <arg name="launch_rviz"          value="$(arg launch_rviz)"/>
    <arg name="fixed_frame"          value="map"/>
    <arg name="mocap_frame"          value="mocap"/>
    <arg name="base_link_frame"      value="base_link"/>
    <arg name="odom_topic"           value="odom"/>
  </include>

  <include file="$(find carplanner_msgs)/launch/sensors.launch" if="$(arg launch_sensors)">
    <arg name="use_royale"  value="$(arg use_royale)"/>
  </include>

  <include file="$(find infinitam)/launch/nodelet_demo.launch" if="$(arg launch_infinitam)">
    <arg name="launch_delay"                value="5"/>
    <arg name="convert_metric"              value="false"/>
    <arg name="publish_vertices"            value="false"/>
    <arg name="world_frame_id"              value="map"/>
    <arg name="mesh_topic"                  value="mesh"/>
    <arg name="enable_guess_from_tf_tree"   value="true"/>
    <arg if="$(arg use_royale)"      name="camera_frame_id"   value="royale_camera_optical_frame"/>
    <arg unless="$(arg use_royale)"  name="camera_frame_id"   value="camera_depth_optical_frame"/>
    <arg if="$(arg use_royale)"      name="depth_info_topic"  value="/royale_camera/camera_info"/>
    <arg unless="$(arg use_royale)"  name="depth_info_topic"  value="/camera/depth/camera_info"/>
    <arg if="$(arg use_royale)"      name="depth_topic"       value="/royale_camera/depth_image"/>
    <arg unless="$(arg use_royale)"  name="depth_topic"       value="/camera/depth/image_rect_raw"/>
    <arg if="$(arg use_royale)"      name="rgb_info_topic"    value=""/>
    <arg unless="$(arg use_royale)"  name="rgb_info_topic"    value="/camera/aligned_depth_to_color/camera_info"/>
    <arg if="$(arg use_royale)"      name="rgb_topic"         value=""/>
    <arg unless="$(arg use_royale)"  name="rgb_topic"         value="/camera/aligned_depth_to_color/image_rect_raw"/>
  </include>

</launch>
